---
import Timer from '../components/Timer.svelte';
import Settings from '../components/Settings.svelte';

let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
</head>
<body>
    <main>
        <div class="w-screen h-screen flex items-center justify-center">
            <Timer client:only />
            <Settings client:load />
        </div>
    </main>
</body>
</html>
